altair==5.5.0
beautifulsoup4==4.13.3
camelot-py==1.0.0
langchain==0.3.19
nltk==3.9.1
numpy==1.26.4
pandas==2.2.3
pypdf==5.3.1
PyPDF2==3.0.1
requests==2.32.3
scikit-learn==1.6.1
selenium==4.29.0
sentence-transformers==3.4.1
streamlit==1.42.2
tabula-py==2.10.0
transformers==4.49.0
urllib3==2.3.0
zipp==3.21.0